@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Kanit',sans-serif;
scroll-behavior:smooth;

}



:root{

--blue:#081B33;
--blue2:#1565C0;
--sky:#42A5F5;
--gold:#FFD54F;
--white:#fff;

}



body{

background:
linear-gradient(
135deg,
#081B33,
#0D47A1,
#42A5F5
);

color:white;

min-height:100vh;

overflow-x:hidden;

}



/* ===== LOADER ===== */


.loader{

position:fixed;

width:100%;

height:100vh;

background:#081B33;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:9999;

animation:hide 2.5s forwards;

}



.loader-logo{

font-size:80px;

font-weight:700;

color:var(--gold);

text-shadow:
0 0 20px var(--gold),
0 0 50px var(--gold);

animation:pulse 1s infinite;

}



.loader p{

margin-top:20px;

font-size:20px;

}



@keyframes pulse{

50%{

transform:scale(1.2);

}

}



@keyframes hide{

80%{

opacity:1;

}

100%{

opacity:0;

visibility:hidden;

}

}





/* ===== BACKGROUND ===== */


.bg-circle{

position:fixed;

border-radius:50%;

filter:blur(120px);

z-index:-1;

}



.c1{

width:400px;

height:400px;

background:#42A5F5;

top:-100px;

left:-100px;

opacity:.5;

}



.c2{

width:450px;

height:450px;

background:#FFD54F;

right:-150px;

bottom:-150px;

opacity:.2;

}





/* ===== HEADER ===== */


header{

position:fixed;

top:0;

width:100%;

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

background:rgba(0,0,0,.2);

backdrop-filter:blur(20px);

z-index:1000;

border-bottom:1px solid rgba(255,255,255,.15);

}



.logo{

font-size:35px;

font-weight:700;

color:var(--gold);

text-shadow:0 0 20px var(--gold);

}



nav{

display:flex;

gap:35px;

}



nav a{

color:white;

text-decoration:none;

font-weight:500;

transition:.3s;

}



nav a:hover{

color:var(--gold);

text-shadow:0 0 15px var(--gold);

}





/* ===== HERO ===== */


.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:100px 20px;

}



.hero-card{

width:850px;

padding:60px;

text-align:center;

background:rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border-radius:35px;

border:1px solid rgba(255,255,255,.2);

box-shadow:0 20px 60px rgba(0,0,0,.3);

animation:float 5s infinite;

}



@keyframes float{

50%{

transform:translateY(-15px);

}

}



.profile{

width:270px;

height:480px;

object-fit:cover;

aspect-ratio:9/16;

border-radius:30px;

border:6px solid var(--gold);

box-shadow:
0 0 40px var(--gold);

transition:.4s;

}



.badge{

display:inline-block;

padding:10px 25px;

border:1px solid var(--gold);

border-radius:50px;

color:var(--gold);

margin-bottom:25px;

}



.hero h1{

font-size:55px;

margin:20px 0;

}



.hero h3{

font-size:30px;

color:var(--gold);

}



.hero p{

margin-top:20px;

line-height:2;

}





/* ===== BUTTON ===== */


.buttons{

margin-top:35px;

display:flex;

justify-content:center;

gap:20px;

}



.btn,
.btn2{

padding:15px 35px;

border-radius:50px;

text-decoration:none;

transition:.3s;

}



.btn{

background:var(--gold);

color:#081B33;

font-weight:bold;

}



.btn2{

border:2px solid white;

color:white;

}



.btn:hover,
.btn2:hover{

transform:translateY(-7px);

}





/* ===== SECTION ===== */


section{

padding:100px 8%;

}



h2{

text-align:center;

font-size:42px;

color:var(--gold);

margin-bottom:50px;

}





/* ===== ABOUT ===== */


.about{

display:grid;

grid-template-columns:300px 1fr;

gap:40px;

align-items:center;

}



.left img{

width:270px;

height:350px;

object-fit:cover;

border-radius:25px;

border:5px solid var(--gold);

}



.right{

background:rgba(255,255,255,.1);

padding:40px;

border-radius:25px;

backdrop-filter:blur(15px);

}



.right h3{

color:var(--gold);

font-size:30px;

margin-bottom:20px;

}





/* ===== CARD ===== */


.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card{

background:rgba(255,255,255,.1);

padding:35px;

border-radius:25px;

text-align:center;

transition:.4s;

}



.card:hover{

transform:translateY(-15px);

box-shadow:0 0 35px #42A5F5;

}



.card h3{

color:var(--gold);

margin-bottom:15px;

}





/* ===== GALLERY ===== */


.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}



.gallery img{

width:100%;

border-radius:20px;

transition:.4s;

}



.gallery img:hover{

transform:scale(1.08);

box-shadow:0 0 30px var(--gold);

}





/* ===== CONTACT ===== */


.contact{

background:rgba(255,255,255,.1);

padding:40px;

border-radius:25px;

text-align:center;

}



.contact p{

margin:15px;

font-size:18px;

}





footer{

text-align:center;

padding:30px;

background:rgba(0,0,0,.3);

}





@media(max-width:700px){


nav{

display:none;

}


.hero h1{

font-size:35px;

}


.about{

grid-template-columns:1fr;

}


.hero-card{

padding:35px;

}


}
